/* header */
.header {
  padding: 7.3rem 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo-link {
  margin-right: 8rem;
}
.logo-link__img {
}
.sitenav {
  margin-right: auto;
}
.sitenav__site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.sitenav__link {
  color: #ffffff;
}
.header__btn {
  border: 2px solid #ffffff;
}
/* main */
.main {
  background: url("../imeges/bacc-logo/Group2page-22.svg"),
    url("../imeges/bacc-logo/Group3-PAGE.svg");
  background-position: left top 20%, right bottom;
  background-repeat: no-repeat;
  flex-grow: 1;
}
.main__container {
  display: flex;
  justify-content: center;
  padding: 11.4rem 0;
}
.contact-div {
  width: 54rem;
}
.contact-div__titel {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 1.56;
  margin-bottom: 1.6rem;
}
.contact-div__span {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #f67e7e;
}
.contact-div__list {
  margin-top: 1.6rem;
}
.contact-div__item {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.contact-div__item:not(:last-child) {
  margin-bottom: 8px;
}
.contact-div__img {
}
.contact-div__paragriph {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.56;
}
/* form */
form {
  width: 54rem;
  display: flex;
  flex-direction: column;
}
input {
  margin-bottom: 2.4rem;
  padding-bottom: 1.6rem;
  padding-left: 1.5rem;
  border: none;
  outline: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  background: #014e56;
}
::placeholder {
  letter-spacing: -0.115385px;
  color: #ffffff;
  opacity: 0.6;
}
.messeage-input {
  padding-bottom: 6.2rem;
}
.input-btn{
  width: 25%;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.56;
 background: #ffffff;
 color: #002529;
}

/* footer */
.footer {
  background: #002529;
}
.footer__container {
  padding: 4.8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-home__img {
  margin-bottom: 2.5rem;
}
.footer-home__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.footer-home__item {
  color: #ffffff;
  font-size: 1.8rem;
  line-height: 1.36;
}
.footer-line__paragriph {
  color: #ffffff;
  opacity: 0.6;
}

.footer-div__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-bottom: 5.1rem;
  padding-left: 15rem;
}
.footer-div__paragriph {
  color: #ffffff;
  opacity: 0.6;
}
